<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uncc.studentregistration">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Student Registration"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Main Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayActivity"
            android:label="Display Activity" />
        <activity
            android:name=".EditActivity"
            android:label="Edit Activity" >

            <intent-filter>
                <action android:name="uncc.studentregistration.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter> />
        </activity>

    </application>

</manifest>